.page-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center; }

.page-header {
  width: 100%;
  min-height: 100px;
  text-align: center;
  color: azure; }

.item-wrapper {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.item {
  padding: 0.5rem;
  min-height: 240px; }
  .item:nth-child(1) {
    background-color: #fe5e06; }
  .item:nth-child(2) {
    background-color: gold; }
  .item:nth-child(3) {
    background-color: wheat; }
  .item:nth-child(4) {
    background-color: bisque; }
  .item:nth-child(5) {
    background-color: gold; }
  .item:nth-child(6) {
    background-color: #fe5e06; }
  .item__header {
    text-align: center;
    padding-top: 20px;
    min-height: 80px; }
  .item__body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center; }
  .item__discription {
    text-align: center;
    padding-top: 10%; }
  .item__link {
    margin: 5% auto;
    text-align: center;
    padding: 4% 0;
    width: 50%;
    background-color: #10a064; }
  .item__link:hover {
    background-color: aliceblue;
    color: darkcyan;
    width: 90%;
    box-shadow: 0 0 10px gray;
    cursor: pointer;
    -ms-transform: rotate(360deg);
        transform: rotate(360deg); }
  .item:hover {
    box-shadow: 4px 5px 10px gray;
    -ms-transform: scale(1.1);
        transform: scale(1.1); }

.nice-effect {
  transition: 2s; }

@media (min-width: 768px) {
  .item-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .item {
    padding: 0.5rem; } }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100.0%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-9 {
  width: 75.0%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-6 {
  width: 50.0%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-3 {
  width: 25.0%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-1 {
  width: 8.33333%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100.0%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-9 {
    width: 75.0%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-6 {
    width: 50.0%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-3 {
    width: 25.0%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-1 {
    width: 8.33333%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100.0%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-9 {
    width: 75.0%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-6 {
    width: 50.0%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-3 {
    width: 25.0%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-1 {
    width: 8.33333%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100.0%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-9 {
    width: 75.0%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-6 {
    width: 50.0%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-3 {
    width: 25.0%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-1 {
    width: 8.33333%; } }

* {
  box-sizing: border-box; }

html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: mediumslateblue; }

body {
  background: url(../assets/images/pattern.jpg); }

a {
  text-decoration: none; }
