.lighter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    height: 20%;
    margin-left: 1%;
    &__light {
        border: 1px solid black;
        border-radius: 50%;
        width: 80%;
        height: 40%;
        margin-bottom: 10px;
        background-color: rgb(208, 225, 241);
    }
    &__active-light-one {
        background-color: #ee2;
    }
    &__active-light-two {
        background-color: blue;
    }
    &__button {
        width: 100%;
        height: 20%;
        background-color: rgb(208, 225, 241);
    }
    &__button:focus {
        outline: none;
    }
    &__add {
        margin-left: 1%;
        height: 130px;
        width: 100px;
        background-color: rgb(208, 225, 241);
    }
    &__add:focus {
        outline: none;
    }
}
.active-btn {
    background-color: rgb(41, 253, 47);
}