* {
    box-sizing: border-box;
}
.conteiner {
    margin: 0 auto;
    min-height: 300px;
    border: 1px solid lightgrey;
    background-color: transparent;
    display: flex;
    padding: 10%;
    flex-direction: row;
    justify-content: flex-start;
    width: 960px;
    position: relative;
}