.search {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
    &__place {
        display: flex;
        flex-direction: row;
        &-item {
            flex-basis: 49%;
        }
    }
    &__form {
        &:nth-child(2){
            margin-bottom: 0px;
        }
        &-input {
            &_town{
                width: 100%;
                margin-bottom: 10px;
                height: 30px;
                &::placeholder{
                    padding-left: 40%;
                }
            }
            &_date {
                margin-bottom: 10px;
                width: 100%;
                height: 30px;
            }
        }
        &-button {
            width: 100%;
            height: 30px;
            
        }
    }
    
}