@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(../../assets/hw_11/fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
         url(../../assets/hw_11/fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
         url(../../assets/hw_11/fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype'); 
 }
.search {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
    &__place {
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        &-item {
            text-align: center;
            flex-basis: 49%;
            font-size: 12px;
            &:hover {
                border-bottom: 2px solid white;
            }
        }
    }
    &__form {
        &:nth-child(2){
            margin-bottom: 0px;
        }
        &-input {
            &_town{
                color: black;
                width: 100%;
                margin-bottom: 10px;
                font-family: 'Material Icons';
                height: 30px;
                &::placeholder{
                    font-family: 'Material Icons';
                    color: black;
                    font-size: 2px;
                }
            }
            &_date {
                margin-bottom: 10px;
                width: 100%;
                height: 30px;
                &::placeholder{
                    padding-left: 40%;
                }
            }
        }
        &-button {
            width: 100%;
            height: 30px;
            margin-bottom: 10px;
        }
    }
    
}