.search {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
    &__form {
        &-input {
            &_town{
                width: 100%;
            }
            &_date {
                width: 100%;
            }
        }
        &-button {
            width: 100%;
        }
    }
    
}