* {
    box-sizing: border-box;
}
html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: mediumslateblue ;
}
body {
    background: url(../../assets/hw_7/pattern.jpg)
}
a {
    text-decoration: none;
}