.page-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}
.page-header {
    width: 100%;
    min-height: 100px;
    text-align: center;
    color: azure;
}
.item-wrapper {
    margin: 0 auto;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.item {
    margin: 0.5rem auto;
    min-height: 240px;
    position: relative;
    &:nth-child(1) {
        background-color: rgb(254, 94, 6);
    }
    &:nth-child(2) {
        background-color: gold;
    }
    &__header {
        text-align: center;
        padding-top: 20px;
        min-height: 80px;
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__discription {
        text-align: center;
        padding-top: 10%;
    }
    &__link {
        margin: 5% auto;
        text-align: center;
        padding: 10%;
        width: 70%;
        min-height: 1%;
        background-color: #10a064;
    }
    &__link:hover {
        background-color: aliceblue;
        color: darkcyan;
        width: 90%;
        box-shadow: 0 0 10px gray;
        cursor: pointer;
        transform: rotate(360deg);
    }
    &:hover {
        box-shadow: 4px 5px 10px gray;
        transform: scale(1.1);
        
    }
}
.nice-effect {
    transition: 2s;
}
@media (min-width: 768px) {
    .item-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .item {
        margin: 0;
    }
}