.content {
    margin: 145px auto;
    &__text{
        margin: 0 auto;
        max-width: 676px;
        text-align: center;
        &-txt{
            padding-bottom: 35px; 
        }
        &-buttons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            &_book {
                font-size: 12px;
                color: white;
                text-transform:uppercase;
                cursor: pointer;
                padding-top: 15px;
                width: 205px;
                height: 50px;
                border-radius: 2px;
                background-color: #82c141;
                }
            &_find {
                text-transform:uppercase;
                cursor: pointer;                
                padding-top: 15px;
                width: 110px;
                height: 15px;
                font-family: Muli;
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.5px;
                color: #82c141;
                }
            }
        }
    &__images {
        max-width: 1240px;
        margin-top: 164px;
        text-align: center;
        &-header {
            margin-bottom: 65px;
        }
        &-img {
            width: 270px;
            height: 270px;
        }
    }    
}
.spacer {
    width: 72px;
    height: 1px;
}