$item_margin:20px;

.hidden {
    transition: all 0.5s;
    width: 100%;
    height: 0px;
    position: absolute;
    overflow: hidden;
    &__active {
        height: 100%;
        transition: all 0.5s;
        position: absolute;
    }
}
.mobile-menu {
    background-color: black;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: $item_margin/2 $item_margin/2;
    &__icon {
        height: 30px;
        width:150px;
        margin: $item_margin auto;
        background-image: url("../../../../assets/finale/img/fleetster-logo.png");
        background-repeat: no-repeat;
    }
    &__item {
        transition: all 0.5s; 
        margin-bottom: $item_margin;
        &-register {
        margin-bottom: $item_margin;
        }
        &-active {
        padding: $item_margin;
        margin-bottom: $item_margin;
        background-color: rgb(8, 141, 123);
        color: white;
        transition: all 0.5s; 
        }
    }
}