.header {
    max-width: 1400px;
    position: relative;
    min-height: 100px;
    margin: 0 auto;
    color: white;
    background-color: #1c1c1c;
    @media screen and (min-width: 993px){
        background-image: url('../../../../assets/finale/img/image-top.png');
        h1.logo a {
            display: none;
        }
        a.to_nav {
            display: none;
        }
    }
    @media screen and (min-width: 1366px){
        background-image: url('../../../../assets/finale/img/image-top.png');
        height: 535px;
        }
}
a.to_nav {
    float: right;
    color: #fff;
    background: #4e4e4e;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 2px;
}
 
a.to_nav:hover,
a.to_nav:focus {
    color: #1c1c1c;
    background: #ccc;
}
h1.logo a {
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    float: left;
    letter-spacing: 0.2em;
}
