.header {
    max-width: 1400px;
    margin: 0 auto;
    color: white;
    background-color: darkslategray;
    @media screen and (min-width: 993px){
        background-image: url('../../../../assets/finale/img/section-header.png');    }
}