@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(../../assets/hw_11/fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
         url(../../assets/hw_11/fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
         url(../../assets/hw_11/fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype'); 
 }
 * {
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}
body {
    background-color: rgb(69, 89, 99);
}
