$accordion-heigh:50px;
$accordion-padding:20px;
$tansition:all 1s;
.box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    width: 900px;
    height: 500px;
    border: 1px solid gray;
    justify-content: flex-start;
    align-items: center;
}
.accordion {
    width: 100%;
    border: 1px solid lightgray;
    &__header {
        width:100%;
        height: $accordion-heigh;
        padding: $accordion-padding;
        background-color: gainsboro;
        transition: $tansition;
        &_active {
            background-color: blue;
            color: white;
            transition: $tansition;
        }       
    }
    &__content {
        height: 0px;
        overflow: hidden;
        transition: $tansition;
    
    &_active {
        height: $accordion-heigh * 6;
        padding: $accordion-padding + 80px;
        transition: $tansition;
    }
    }
}