.page-wrapper {
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}
.page-header {
    min-width: 100%;
    min-height: 100px;
    background-color: red;
}
.page-nav {
    height: 500px;
    background-color: green;
}
.page-content {
    height: 500px;
    background-color: blue;
}
.nav {
    display: flex;
    flex-direction: column;
    &__place {
        flex-basis: 35%;
        background-color: aquamarine;
        text-align: center;
    }
    &__type {
        flex-basis: 65%;
        background-color: darkolivegreen;
        text-align: center;
    }
}
input {
    display: none;
}
label {
    display: block;
    opacity: 0.5;
}
input:checked + label {
    color: gold;
    opacity: 1;
    transition: 1s;
} 