.menu__items {
    padding-top: 20px;
}
.menu__item {
    vertical-align: middle;
}
.img {
    background-image: url(../../../../assets/finale/img/fleetster-logo.png);
    height: 30px;
    background-repeat: no-repeat;
}