.menu {
    width: 100%;
    &__items {
        position: static;
        justify-content: center;
        text-align: center;
        display: block;
        @media screen and (min-width:993px){
            flex-direction:row;
        }
    }
    &__item {
        
        cursor: pointer;
        @media screen and (min-width:993px) {
            
        }
    }
}
.right {
    float: left;
}