.menu {
    width: 100%;
    &__items {
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media screen and (min-width:993px){
            flex-direction:row;
        }
    }
    &__item {
        padding-bottom: 10px;
        cursor: pointer;
        @media screen and (min-width:993px) {
            padding: 30px 30px;
        }
    }
}
.right {
    float: right;
}